name = "alert-bay-trumpeter"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

[env.production]
vars = { NODE_ENV = "production" }
